#panel{
    background-color: #ffff;
    padding: 0px;
}

#loginbtn{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: darkgrey;
    font-weight: 500;
}

#title {
    background-color: darkgray;
    color: #fff;
    padding: 8px;
    margin-top: 0px;
    font-weight: 700;
    text-align: center;
}

form {
    padding: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
}

.error {
    color: red;
}

.indeterminate {
    background-color: darkgrey !important;
}

.input-field {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    
}

#errorMsg {
    background: #f6b2b5;
    width: 100%;
    height: 50px;
    text-align: center;
}

#errorMsg span {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    float: left;
    font-size: 15px;
}

 /* label focus color */
   .input-field input[type=text]:focus + label, input[type=password]:focus + label {
     color: #000;
}
/* label underline focus color */
   .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
   }

   .input-field input[type=password]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
   }