/* .container {
    background-color: white;
} */

* {
    border: none;
}
ul {
    background-color: white;
}

.material-icons {
    color: #7289DA !important;
    margin-right: 10px;
    cursor: pointer;
}

.time {
    margin-bottom: 10px !important;
    font-style: italic;
}

.text {
    text-align: center;
    font-size: 10px !important;
}

.test { 
    color: white;
}

.disabled {
    color: #c0c0c0 !important;
}