<nav class="nav-extend">
  <div class="container">
    <div class="nav-wrapper">
      <a (click)="GoToHome()" class="brand-logo">Chat app</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- Dropdown Structure -->
        <li class="dropdown-button dropdown-trigger" data-target="dropdown">
          <i class="fa fa-globe fa-1x badge"></i>
          <span class="nav-label-icon" *ngIf="count.length > 0" > {{count.length}} </span>
          <ul id="dropdown" class="dropdown-content col s12 collection">
            <li class="collection-item avatar" *ngFor="let data of notifications">
                <img src="http://via.placeholder.com/150" alt="img" class="circle responsive-img"/>
                <span [ngClass]="data.read ? 'isRead' : 'unRead' " > {{data.message}} </span>
                <p class="time"> {{TimeFromNow(data.created)}} </p>
            </li>
            <li *ngIf="notifications.length <= 0">
              <p class="text">No notifications</p>
            </li>
            <p class="secondary-content">
              <a class="markAll btn"(click)="MarkAll()">Mark all as read</a>
            </p>
          </ul>
        </li>
        <li><a (click)="logout()">logout</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <div class="nav-div">
        <img src="http://via.placeholder.com/150" alt="img" class="circle responsive-img"/>
      </div>
      <h1 class="profile-name">{{ user.username }}</h1>
      <p class="user-text"></p>
    </div>
  </div>
</nav>
